.row
  .col
    %h1 Outgoing Webmentions

.row
  .col

    - if @webmentions.count == 0
      %strong
        No webmentions yet.

    %table.table.table-striped
      %tr
        %th
        %th
          Post
        %th
          Target
    
      - @webmentions.each do |webmention|
        %tr
          %td
            #{webmention.created_at}
          %td
            #{webmention.post.id} #{webmention.post.title}
          %td
            #{webmention.target_url}

.row
  .col-xs-12
    = paginate @webmentions