.row
  .col-xs-12.text-right
    = link_to "Cancel", [:admin, :site_configs], class: "btn btn-info btn-sm"
    

.row
  .col-xs-12
    = form_with model: [:admin, @site_config] do |f|
      .form-group
        .col-xs-4
          = f.text_field :key, placeholder: "Key", class: "form-control"
    
        .col-xs-6
          = f.text_field :value, placeholder: "Value", class: "form-control"
    
        .col-xs-2    
          = f.submit "Save", class: "btn btn-primary"