.row
  .col-xs-8
    %h1{ style: "margin: 0;"} Site Settings
  
  .col-xs-4.text-right
    = link_to "Add Setting", [:new, :admin, :site_config], class: "btn btn-success btn-sm"

.row
  .col-xs-12
    
    %table.table
      - @site_configs.each do |site_config|
        %tr
          %td
            #{link_to site_config.key, [:edit, :admin, site_config]}
          %td
            #{link_to site_config.value, [:edit, :admin, site_config]}
          %td.text-right
            = link_to "Destroy", [:admin, site_config], method: :delete, data: { confirm: "Are you sure?" }
            
            
            
.row
  .col-xs-8
  
  .col-xs-4.text-right
    = link_to "Add Setting", [:new, :admin, :site_config], class: "btn btn-success btn-sm"
