%h1 Authorization Request

%p
  state:
  #{@authorization_request.state}
%p
  redirect_uri:
  #{@authorization_request.redirect_uri}
%p
  client_id:
  #{@authorization_request.client_id}
%p
  me:
  #{@authorization_request.me}
%p
  scope:
  #{@authorization_request.scope}
  
%p
  = link_to "Authorize Request", indieauth_authorize_authorization_request_path( @authorization_request.id ), method: :post
  
%p
  = link_to "Decline Request", root_path