%h1 Authentication Request

%p
  state:
  #{@authentication_request.state}
%p
  redirect_uri:
  #{@authentication_request.redirect_uri}
%p
  client_id:
  #{@authentication_request.client_id}
%p
  me:
  #{@authentication_request.me}
  
%p
  = link_to "Authorize Request", indieauth_authorize_authentication_request_path( @authentication_request.id ), method: :post
  
%p
  = link_to "Decline Request", root_path