.row.mt-3
  .col-9
    .card.post-form
      .card-header
        .row
          .col-9
            %h5.mb-0
              - if @post.id.present?
                Edit Post
              - else
                New Post
          .col-3
            .text-right
              = link_to "Cancel", [:admin, :posts], class: "btn btn-sm btn-default"

  
      = form_with model: [:admin, @post], class: "form form-horizontal" do |f|
        .card-body
          .row
            .col
        

              .form-group.row
                = f.label :title, class: "col-2 col-form-label"
                .col-10
                  = f.text_field :title, class: "form-control"
      
              .form-group.row
                = f.label :published_at, class: "col-2 col-form-label"
                .col-10
                  = f.datetime_select :published_at, {start_year: 1995}, class: ""
      
              .form-group.row
                = f.label :author_id, class: "col-2 col-form-label"
                .col-10
                  = f.collection_select :author_id, Oak.author_class.all, :id, :name, prompt: false, class: ""
      
              .form-group.row
                = f.label :live, class: "col-2 col-form-label"
                .col-10
                  = f.select :live, options_for_select( [["Draft", 0], ["Live", 1]], (@post.live? ? 1 : 0) ), class: "form-control"

              .form-group.row
                = f.label :body, class: "col-2 col-form-label"
                .col-10
                  = f.text_area :body, class: "form-control", rows: 24

              .form-group.row
                = f.label :tag_list, class: "col-2 col-form-label"
                .col-10
                  = f.text_field :tag_list, class: "form-control"
          
        .card-footer
          .row
            .col-9
              - if @post.id.present?
                = link_to "Destroy", [:admin, @post], method: :delete, data: { confirm: "Are you sure?" }, class: "small text-danger"
              
            .col-3.text-right
              = f.submit "Save", class: "btn btn-sm btn-primary"

  .col-3
    .card.mb-3
      .card-header
        .row
          .col-9
            %h6.mb-0
              Add a Post Asset
              
      = form_with model: [:admin, @post_asset], class: "form form-horizontal", remote: true do |f|
        .card-body
          .row.form-group
            .col-9
              = f.file_field :file, class: "form-control"

            .col-3
              = f.submit "Add", class: "btn btn-sm btn-success"
            
    .row
      .col#post-assets
        = render partial: "post_assets"
      