.row
  .col-xs-8
    %h1{ style: "margin: 0;" } Posts

  .col-xs-4.text-right
    = link_to "New Post", [:new, :admin, :post], class: "btn btn-sm btn-success"

.row
  .col-xs-12
    
    - @posts.each do |post|
      .row
        .col-xs-10
          %section{ style: "margin-bottom: 1.5em;"}
            %strong
              = link_to "#{post.title}", [:edit, :admin, post]
        
            %p
              = simple_format( post.body.truncate( 60 ) )
        
            %small
              = link_to post.published_at.in_time_zone.strftime("%b %-d, %Y %-l:%M%P"), [:edit, :admin, post]
          
              - if post.draft?
                &nbsp;&nbsp;
                = link_to [:edit, :admin, post] do
                  .label.label-warning
                    DRAFT
        .col-xs-2.text-right
          .small
            = link_to "Send Webmentions", [:send_webmentions, :admin, post]